# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
attrs
backcall
bleach
certifi
chardet
click
configobj
cycler
decorator
defusedxml
dill
docutils
h5py
idna
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
jsonpickle
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
kiwisolver
libgpuarray
libiconv
libpng
libsodium
libstdcxx-ng
libtiff
libuuid
libxcb
libxml2
lz4-c
mako
markupsafe
matplotlib
mistune
mkl
mkl-service
more-itertools
nbconvert
nbformat
ncurses
notebook
numpy
openblas
openssl
packaging
pandas
pandoc
pandocfilters
pango
parso
patsy
pcre
pexpect
pickleshare
pip
pixman
prometheus_client
prompt_toolkit
pthread-stubs
ptyprocess
pygments
pygpu
pymc3
pyparsing
pyqt
pyrsistent
python
python-dateutil
pytz
pyzmq
qt
qtconsole
readline
requests
scipy
send2trash
setuptools
simplegeneric
sip
six
sqlite
terminado
testpath
theano
tk
tornado
tqdm
traitlets
urllib3
wcwidth
webencodings
wheel
widgetsnbextension
xz
zeromq
zipp
zlib
zstd
